<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" href="favicon.ico">
	<title>Brandaloka</title>
	<link rel="stylesheet" href="css/components/bootstrap/bootstrap.min.css">
	<link rel="stylesheet" href="css/components/slick/slick.css">
	<link rel="stylesheet" href="css/components/animate/animate.min.css">
	<link rel="stylesheet" href="css/style.css">
</head>
<body>

	<!--- Banner --->
	<section id="banner">
		<div class="container text-center">
			<div class="intro">
				<div class="small">
					<div class="row-top">
						<div class="menu-item-container">
							<div class="menu-item">
								<a href="#portfolio">
									<div class="icon">
										<img src="img/intro/icons/imac.svg" alt="">
									</div>
									<div class="text">Our works</div>
								</a>
							</div>
						</div>
					</div>
					<div class="row-bottom d-sm-flex">
						<div class="logo">
							<a href="/">Brand<span>aLO</span>KA<span class="dot">.</span></a>
						</div>
						<div class="menu-item-container">
							<div class="menu-item">
								<a href="#mission">
									<div class="icon">
										<img src="img/intro/icons/book.svg" alt="">
									</div>
									<div class="text">What we do</div>
								</a>
							</div>
						</div>
					</div>
				</div>
				<div class="big d-md-flex">
					<div>
						<div class="row-top d-sm-flex">
							<div class="menu-item-container">
								<div class="menu-item">
									<a href="#team">
										<div class="icon">
											<img src="img/intro/icons/users.svg" alt="">
										</div>
										<div class="text">Our team</div>
									</a>
								</div>
							</div>
							<div class="image-container">
								<div class="image">
									<img src="img/intro/images/image_1.jpg" alt="">
								</div>
							</div>
						</div>
						<div class="row-middle d-sm-flex">
							<div class="menu-item-container">
								<div class="menu-item">
									<a href="#about">
										<div class="icon">
											<img src="img/intro/icons/heart.svg" alt="">
										</div>
										<div class="text">About us</div>
									</a>
								</div>
							</div>
							<div class="menu-item-container">
								<div class="menu-item">
									<a href="#contacts">
										<div class="icon">
											<img src="img/intro/icons/envelope.svg" alt="">
										</div>
										<div class="text">Get in touch</div>
									</a>
								</div>
							</div>
						</div>
						<div class="row-bottom d-sm-flex justify-content-lg-end">
							<div class="image-container">
								<div class="image">
									<img src="img/intro/images/image_2.jpg" alt="">
								</div>
							</div>
							<div class="image-container">
								<div class="image">
									<img src="img/intro/images/image_3.jpg" alt="">
								</div>
							</div>
						</div>
					</div>
					<div class="social">
						<div class="d-flex">
							<div class="column-left">
								<div class="social-item">
									<a href="#" target="_blank">
										<img src="img/intro/social/facebook.svg" alt="">
									</a>
								</div>
								<div class="social-item">
									<a href="#" target="_blank">
										<img src="img/intro/social/google_plus.svg" alt="">
									</a>
								</div>
								<div class="social-item">
									<a href="#" target="_blank">
										<img src="img/intro/social/vimeo.svg" alt="">
									</a>
								</div>
							</div>
							<div class="column-center">
								<div class="social-item">
									<a href="#" target="_blank">
										<img src="img/intro/social/twitter.svg" alt="">
									</a>
								</div>
								<div class="social-item">
									<a href="#" target="_blank">
										<img src="img/intro/social/skype.svg" alt="">
									</a>
								</div>
							</div>
							<div class="column-right">
								<div class="social-item">
									<a href="#" target="_blank">
										<img src="img/intro/social/dribbble.svg" alt="">
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="banner-bottom">
					<a href="#about" class="scroller"></a>
					<button class="mobile-menu-button"></button>
				</div>
			</div>
		</div>
	</section>
	<!--- Banner end --->


	<!--- Mission --->
	<section id="mission">
		<div class="container">
			<div class="section-title">
				<h1>What <span>we</span> do</h1>
			</div>
			<div class="intro-text">
				<p>Sed ut <span>perspiciatis unde omnis</span> iste natus error sit voluptatem accusantium doloremque totam rem aperiam, eaque ipsa <br>
					quae ab illo <span>inventore veritatis</span> et quasi architecto beat dicta sunt explicabo. Nemo enim ipsam voluptatem quia.<br>
					sit amet turpis ut purus <span>pellentesque</span> ullamcorper sed ut nisl.</p>
			</div>
			<div class="facts">
				<div class="row">

					<!--- Fact item --->
					<div class="col-xl-3 col-md-6">
						<div class="fact-item-container wow fadeIn" data-wow-delay="0.2s">
							<div class="fact-item">
								<div class="info">
									<div class="wrapper">
										<div class="number">863</div>
										<div class="text">Projects work</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!--- Fact item end --->

					<!--- Fact item --->
					<div class="col-xl-3 col-md-6">
						<div class="fact-item-container wow fadeIn" data-wow-delay="0.4s">
							<div class="fact-item">
								<div class="info">
									<div class="wrapper">
										<div class="number">921</div>
										<div class="text">Facebook likes</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!--- Fact item end --->

					<!--- Fact item --->
					<div class="col-xl-3 col-md-6">
						<div class="fact-item-container wow fadeIn" data-wow-delay="0.6s">
							<div class="fact-item">
								<div class="info">
									<div class="wrapper">
										<div class="number">572</div>
										<div class="text">Tutorials create</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!--- Fact item end --->

					<!--- Fact item --->
					<div class="col-xl-3 col-md-6">
						<div class="fact-item-container wow fadeIn" data-wow-delay="0.8s">
							<div class="fact-item">
								<div class="info">
									<div class="wrapper">
										<div class="number">159</div>
										<div class="text">Coffees made</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!--- Fact item end --->			

				</div>
			</div>
		</div>
	</section>
	<!--- Mission end --->


	<!--- About --->
	<section id="about">
		<div class="container">
			<div class="section-title">
				<h2>About <span>us</span></h2>
			</div>
			<div class="intro-text">
				<p>Sed ut perspiciatis unde omnis iste natus error sit <span>voluptatem accusantium</span> doloremque totam rem aperiam, eaque ipsa <br>
					<span>quae ab illo</span> inventore veritatis et quasi architecto beat dicta sunt explicabo.</p>
			</div>
			<div class="row">
				<div class="col-lg-6 order-lg-1 order-2">
					<div class="text">
						<p>
							Suspendisse consequat nisl et consectetur hendrerit. Cras sit 
							amet turpis ut purus <span>pellentesque ullamcorper</span> sed ut nisl. In 
							sed vulputate libero. Nullam nec auctor elit, vitae mattis.
						</p>
						<p>
							commodo. Suspendisse tincidunt orci ultrices, viverra mauris 
							a, tristique mauris. <span>Curabitur pretium</span> pellentesque risus, in 
							adipiscing tortor consequat id.
						</p>
					</div>
					<div class="button">
						<a href="#" class="brandaloka-btn hvr-sweep-to-right">Learn more</a>
					</div>
				</div>
				<div class="col-lg-6 order-lg-2 order-1">
					<div class="main-slider">
						<div class="slider-container">
							<div id="main-slider">
								<div class="slide">
									<div class="image">
										<img src="img/slides/main_slider/slide_1.jpg" alt="">
									</div>
								</div>
								<div class="slide">
									<div class="image">
										<img src="img/slides/main_slider/slide_1.jpg" alt="">
									</div>
								</div>
								<div class="slide">
									<div class="image">
										<img src="img/slides/main_slider/slide_1.jpg" alt="">
									</div>
								</div>
							</div>
							<button id="main-slider-prev" class="slider-button button-prev"></button>
							<button id="main-slider-next" class="slider-button button-next"></button>
						</div>
						<div id="slider-pagination" class="slider-pagination">
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--- About end --->


	<!--- Services --->
	<section id="services">
		<div class="container">
			<div class="section-title">
				<h2>Ser<span>vic</span>es</h2>
			</div>
			<div class="intro-text">
				<p>Sed ut perspiciatis unde omnis iste natus error sit <span>voluptatem accusanti</span>.</p>
			</div>
			<div class="services-list">
				<div class="row">

					<!--- Service item --->
					<div class="col-xl-4 col-sm-6">
						<div class="item d-md-flex wow fadeIn" data-wow-delay="0.2s">
							<div class="icon-unit">
								<div class="icon-container">
									<div class="icon">
										<img src="img/services/graph.svg" alt="">
									</div>
								</div>
							</div>
							<div class="content">
								<div class="title">
									<h5>Adipiscing tortor</h5>
								</div>
								<div class="description">
									<p>Morbi condimentum leo sed sollicitudin pulvinar. Phasellus rutrum interdum elit quis.</p>
								</div>
							</div>
						</div>
					</div>
					<!--- Service item end --->

					<!--- Service item --->
					<div class="col-xl-4 col-sm-6">
						<div class="item d-md-flex wow fadeIn" data-wow-delay="0.3s">
							<div class="icon-unit">
								<div class="icon-container">
									<div class="icon">
										<img src="img/services/cloud.svg" alt="">
									</div>
								</div>
							</div>
							<div class="content">
								<div class="title">
									<h5>Adipiscing tortor</h5>
								</div>
								<div class="description">
									<p>Morbi condimentum leo sed sollicitudin pulvinar. Phasellus rutrum interdum elit quis.</p>
								</div>
							</div>
						</div>
					</div>
					<!--- Service item end --->

					<!--- Service item --->
					<div class="col-xl-4 col-sm-6">
						<div class="item d-md-flex wow fadeIn" data-wow-delay="0.4s">
							<div class="icon-unit">
								<div class="icon-container">
									<div class="icon">
										<img src="img/services/pin.svg" alt="">
									</div>
								</div>
							</div>
							<div class="content">
								<div class="title">
									<h5>Adipiscing tortor</h5>
								</div>
								<div class="description">
									<p>Morbi condimentum leo sed sollicitudin pulvinar. Phasellus rutrum interdum elit quis.</p>
								</div>
							</div>
						</div>
					</div>
					<!--- Service item end --->

					<!--- Service item --->
					<div class="col-xl-4 col-sm-6">
						<div class="item d-md-flex wow fadeIn" data-wow-delay="0.5s">
							<div class="icon-unit">
								<div class="icon-container">
									<div class="icon">
										<img src="img/services/bell.svg" alt="">
									</div>
								</div>
							</div>
							<div class="content">
								<div class="title">
									<h5>Adipiscing tortor</h5>
								</div>
								<div class="description">
									<p>Morbi condimentum leo sed sollicitudin pulvinar. Phasellus rutrum interdum elit quis.</p>
								</div>
							</div>
						</div>
					</div>
					<!--- Service item end --->

					<!--- Service item --->
					<div class="col-xl-4 col-sm-6">
						<div class="item d-md-flex wow fadeIn" data-wow-delay="0.6s">
							<div class="icon-unit">
								<div class="icon-container">
									<div class="icon">
										<img src="img/services/eye.svg" alt="">
									</div>
								</div>
							</div>
							<div class="content">
								<div class="title">
									<h5>Adipiscing tortor</h5>
								</div>
								<div class="description">
									<p>Morbi condimentum leo sed sollicitudin pulvinar. Phasellus rutrum interdum elit quis.</p>
								</div>
							</div>
						</div>
					</div>
					<!--- Service item end --->

					<!--- Service item --->
					<div class="col-xl-4 col-sm-6">
						<div class="item d-md-flex wow fadeIn" data-wow-delay="0.7s">
							<div class="icon-unit">
								<div class="icon-container">
									<div class="icon">
										<img src="img/services/code.svg" alt="">
									</div>
								</div>
							</div>
							<div class="content">
								<div class="title">
									<h5>Adipiscing tortor</h5>
								</div>
								<div class="description">
									<p>Morbi condimentum leo sed sollicitudin pulvinar. Phasellus rutrum interdum elit quis.</p>
								</div>
							</div>
						</div>
					</div>
					<!--- Service item end --->

				</div>
			</div>
		</div>
	</section>
	<!--- Services end --->


	<!--- Features --->
	<section id="features">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<div class="image">
						<img src="img/mockup.svg" alt="">
					</div>
				</div>
				<div class="col-lg-6">
					<div class="items-list">

						<!--- Item --->
						<div class="item d-lg-flex wow fadeInDown" data-wow-delay="0.2s">
							<div class="icon-unit">
								<div class="icon-container">
									<div class="icon">
										<img src="img/features/code.svg" alt="">
									</div>
								</div>
							</div>
							<div class="content">
								<div class="title">
									<h5>Adipiscing tortor</h5>
								</div>
								<div class="text">
									<p>Morbi condimentum leo sed sollicitudin pulvinar. <br>Phasellus rutrum interdum elit quis.</p>
								</div>
							</div>
						</div>
						<!--- Item end --->

						<!--- Item --->
						<div class="item d-lg-flex wow fadeInDown" data-wow-delay="0.3s">
							<div class="icon-unit">
								<div class="icon-container">
									<div class="icon">
										<img src="img/features/code.svg" alt="">
									</div>
								</div>
							</div>
							<div class="content">
								<div class="title">
									<h5>Adipiscing tortor</h5>
								</div>
								<div class="text">
									<p>Morbi condimentum leo sed sollicitudin pulvinar. <br>Phasellus rutrum interdum elit quis.</p>
								</div>
							</div>
						</div>
						<!--- Item end --->

						<!--- Item --->
						<div class="item d-lg-flex wow fadeInDown" data-wow-delay="0.4s">
							<div class="icon-unit">
								<div class="icon-container">
									<div class="icon">
										<img src="img/features/code.svg" alt="">
									</div>
								</div>
							</div>
							<div class="content">
								<div class="title">
									<h5>Adipiscing tortor</h5>
								</div>
								<div class="text">
									<p>Morbi condimentum leo sed sollicitudin pulvinar. <br>Phasellus rutrum interdum elit quis.</p>
								</div>
							</div>
						</div>
						<!--- Item end --->

					</div>
					<div class="button wow fadeIn" data-wow-delay="0.6s">
						<a href="#" class="brandaloka-btn hvr-sweep-to-left">Learn more</a>
					</div>
				</div>
			</div>
		</div>
		<div class="brands-slider">
			<div class="container">
				<div id="brands-slider">

					<!--- Slide --->
					<div class="slide">
						<img src="img/slides/brands_slider/audiojungle.png" alt="Audio Jungle">
					</div>
					<!--- Slide end --->

					<!--- Slide --->
					<div class="slide">
						<img src="img/slides/brands_slider/3docean.png" alt="3D Ocean">
					</div>
					<!--- Slide end --->

					<!--- Slide --->
					<div class="slide">
						<img src="img/slides/brands_slider/themeforest.png" alt="Theme Forest">
					</div>
					<!--- Slide end --->

					<!--- Slide --->
					<div class="slide">
						<img src="img/slides/brands_slider/graphicriver.png" alt="Graphic River">
					</div>
					<!--- Slide end --->						

					<!--- Slide --->
					<div class="slide">
						<img src="img/slides/brands_slider/audiojungle.png" alt="Audio Jungle">
					</div>
					<!--- Slide end --->

					<!--- Slide --->
					<div class="slide">
						<img src="img/slides/brands_slider/3docean.png" alt="3D Ocean">
					</div>
					<!--- Slide end --->

					<!--- Slide --->
					<div class="slide">
						<img src="img/slides/brands_slider/themeforest.png" alt="Theme Forest">
					</div>
					<!--- Slide end --->

					<!--- Slide --->
					<div class="slide">
						<img src="img/slides/brands_slider/graphicriver.png" alt="Graphic River">
					</div>
					<!--- Slide end --->

				</div>
			</div>
			<button id="brands-slider-prev" class="slider-button button-prev"></button>
			<button id="brands-slider-next" class="slider-button button-next"></button>
		</div>
	</section>
	<!--- Features end --->


	<!--- Team --->
	<section id="team">
		<div class="container">
			<div class="section-title">
				<h2>Our <span>team</span></h2>
			</div>
		</div>
		<div class="members-list">
			<div class="container">
				<div class="row">

					<!--- Member --->
					<div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.3s">
						<div class="member">
							<div class="photo">
								<img src="img/team/member_1.jpg" alt="">
							</div>
						</div>
						<div class="career">
							<span>CEO / Founder</span>
						</div>
					</div>
					<!--- Member end --->

					<!--- Member --->
					<div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.4s">
						<div class="member">
							<div class="photo">
								<img src="img/team/member_2.jpg" alt="">
							</div>
						</div>
						<div class="career">
							<span>Manager</span>
						</div>
					</div>
					<!--- Member end --->

					<!--- Member --->
					<div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.5s">
						<div class="member">
							<div class="photo">
								<img src="img/team/member_3.jpg" alt="">
							</div>
						</div>
						<div class="career">
							<span>Web developer</span>
						</div>
					</div>
					<!--- Member end --->

					<!--- Member --->
					<div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.6s">
						<div class="member">
							<div class="photo">
								<img src="img/team/member_4.jpg" alt="">
							</div>
						</div>
						<div class="career">
							<span>Web designer</span>
						</div>
					</div>
					<!--- Member end --->

				</div>
			</div>
		</div>
	</section>
	<!--- Team end --->


	<!--- Blog --->
	<section id="blog">
		<div class="container">
			<div class="section-title">
				<h2>Latest <span>posts</span></h2>
			</div>
			<div class="posts-list">
				<div class="d-flex row">

					<!--- Post item --->
					<div class="d-flex flex-column align-items-stretch col-lg-4 col-md-6 wow fadeIn" data-wow-delay="0.3s">
						<div class="d-flex flex-column align-items-stretch post-item">
							<div class="image">
								<div class="overlay">
									<a href="#"></a>
								</div>
								<img src="img/posts/post_1.jpg" alt="">
							</div>
							<div class="d-flex flex-column align-items-stretch content">
								<div class="title">
									<h5>Aliquam metus neque</h5>
								</div>
								<div class="text">
									<p>bibendum sit amet porta at, consequat et enim. In ut turpis non ipsum rhoncus porttitor vel ac nunc. Maecenas interdum dignissim lorem quis auctor sit amet nulla nisl, aliquam pretium ipsum.</p>
								</div>
								<div class="details">
									<ul>
										<li>
											<img src="img/time.svg" alt="">
											<span>September 02</span>
										</li>
										<li>
											<img src="img/comment.svg" alt="">
											<span>19</span>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<!--- Post item end --->

					<!--- Post item --->
					<div class="d-flex flex-column align-items-stretch col-lg-4 col-md-6 wow fadeIn" data-wow-delay="0.4s">
						<div class="d-flex flex-column align-items-stretch post-item">
							<div class="image">
								<div class="overlay">
									<a href="#"></a>
								</div>
								<img src="img/posts/post_2.jpg" alt="">
							</div>
							<div class="d-flex flex-column align-items-stretch content">
								<div class="title">
									<h5>Aliquam metus neque</h5>
								</div>
								<div class="text">
									<p>bibendum sit amet porta at, consequat et enim. In ut turpis non ipsum rhoncus porttitor vel ac nunc. Maecenas interdum dignissim lorem quis auctor sit amet nulla nisl, aliquam pretium ipsum.</p>
								</div>
								<div class="details">
									<ul>
										<li>
											<img src="img/time.svg" alt="">
											<span>September 02</span>
										</li>
										<li>
											<img src="img/comment.svg" alt="">
											<span>19</span>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<!--- Post item end --->

					<!--- Post item --->
					<div class="d-flex flex-column align-items-stretch col-lg-4 col-md-6 wow fadeIn" data-wow-delay="0.4s">
						<div class="d-flex flex-column align-items-stretch post-item">
							<div class="image">
								<div class="overlay">
									<a href="#"></a>
								</div>
								<img src="img/posts/post_3.jpg" alt="">
							</div>
							<div class="d-flex flex-column align-items-stretch content">
								<div class="title">
									<h5>Aliquam metus neque</h5>
								</div>
								<div class="text">
									<p>bibendum sit amet porta at, consequat et enim. In ut turpis non ipsum rhoncus porttitor vel ac nunc. Maecenas interdum dignissim lorem quis auctor sit amet nulla nisl, aliquam pretium ipsum.</p>
								</div>
								<div class="details">
									<ul>
										<li>
											<img src="img/time.svg" alt="">
											<span>September 02</span>
										</li>
										<li>
											<img src="img/comment.svg" alt="">
											<span>19</span>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<!--- Post item end --->

				</div>
			</div>
			<div class="button">
				<a href="#" class="brandaloka-btn hvr-sweep-to-bottom">More posts</a>
			</div>
		</div>
	</section>
	<!--- Blog --->


	<!--- Skills --->
	<section id="skills">
		<div class="container">
			<div class="section-title">
				<h2>Our <span>skills</span></h2>
			</div>
			<div class="skills-list">
				<div class="row">

					<!--- Skill item --->
					<div class="skill">
						<div class="circle" id="web-design-bar" data-skill-percent="85">
							<div class="percentage"></div>
						</div>
						<div class="title">Web design</div>
					</div>
					<!--- Skill item end --->

					<!--- Skill item --->
					<div class="skill">
						<div class="circle" id="branding-design-bar" data-skill-percent="65">
							<div class="percentage"></div>
						</div>
						<div class="title">Branding design</div>
					</div>
					<!--- Skill item end --->

					<!--- Skill item --->
					<div class="skill">
						<div class="circle" id="time-management-bar" data-skill-percent="80">
							<div class="percentage"></div>
						</div>
						<div class="title">Time management</div>
					</div>
					<!--- Skill item end --->

					<!--- Skill item --->
					<div class="skill">
						<div class="circle" id="creative-cloud-bar" data-skill-percent="65">
							<div class="percentage"></div>
						</div>
						<div class="title">Creative Cloud</div>
					</div>
					<!--- Skill item end --->

					<!--- Skill item --->
					<div class="skill">
						<div class="circle" id="web-development-bar" data-skill-percent="85">
							<div class="percentage"></div>
						</div>
						<div class="title">Web development</div>
					</div>
					<!--- Skill item end --->

				</div>
			</div>
		</div>
	</section>
	<!--- Skills end --->


	<!--- Portfolio --->
	<section id="portfolio">
		<div class="container">
			<div class="section-title">
				<h2>Our <span>latest</span> projects</h2>
			</div>
		</div>
		<div class="projects-list">
			<div class="container-fluid p-0">
				<div class="row m-0">

					<!--- Project --->
					<div class="project">
						<img src="img/projects/project_1.jpg" alt="Project 1">
					</div>
					<!--- Project end --->

					<!--- Project --->
					<div class="project">
						<img src="img/projects/project_2.jpg" alt="Project 2">
					</div>
					<!--- Project end --->

					<!--- Project --->
					<div class="project">
						<img src="img/projects/project_3.jpg" alt="Project 3">
					</div>
					<!--- Project end --->

					<!--- Project --->
					<div class="project">
						<img src="img/projects/project_4.jpg" alt="Project 4">
					</div>
					<!--- Project end --->

					<!--- Project --->
					<div class="project">
						<img src="img/projects/project_1.jpg" alt="Project 1">
					</div>
					<!--- Project end --->

					<!--- Project --->
					<div class="project">
						<img src="img/projects/project_2.jpg" alt="Project 2">
					</div>
					<!--- Project end --->

					<!--- Project --->
					<div class="project">
						<img src="img/projects/project_3.jpg" alt="Project 3">
					</div>
					<!--- Project end --->

					<!--- Project --->
					<div class="project">
						<img src="img/projects/project_5.jpg" alt="Project 5">
					</div>
					<!--- Project end --->

					<!--- Project --->
					<div class="project">
						<img src="img/projects/project_6.jpg" alt="Project 6">
					</div>
					<!--- Project end --->

					<!--- Project --->
					<div class="project">
						<img src="img/projects/project_7.jpg" alt="Project 7">
					</div>
					<!--- Project end --->

					<!--- Project --->
					<div class="project">
						<img src="img/projects/project_8.jpg" alt="Project 8">
					</div>
					<!--- Project end --->

					<!--- Project --->
					<div class="project">
						<img src="img/projects/project_5.jpg" alt="Project 5">
					</div>
					<!--- Project end --->

					<!--- Project --->
					<div class="project">
						<img src="img/projects/project_6.jpg" alt="Project 6">
					</div>
					<!--- Project end --->

					<!--- Project --->
					<div class="project">
						<img src="img/projects/project_7.jpg" alt="Project 7">
					</div>
					<!--- Project end --->

				</div>
			</div>
		</div>
	</section>
	<!--- Portfolio end --->


	<!--- Pricing --->
	<section id="pricing">
		<div class="container">
			<div class="section-title">
				<h2>Special <span>offers</span></h2>
			</div>
			<div class="offers">
				<div class="row">

					<!--- Offer --->
					<div class="col-lg-4 col-md-6 wow fadeInLeft" data-wow-delay="0.5s">
						<div class="offer">
							<div class="title">
								<span>Standart</span>
							</div>
							<div class="price">
								<span>$39.99</span>
							</div>
							<div class="details">
								<ul>
									<li>Duis mi dolor, fermentum</li>
									<li>scelerisque mattis sit amet,</li>
									<li>condimentum sit amet nunc.</li>
									<li>Cras eros felis</li>
									<li>tristique sed sagittis id</li>
								</ul>
							</div>
							<div class="button">
								<a href="#">Take a plan</a>
							</div>
						</div>
					</div>
					<!--- Offer end --->

					<!--- Offer --->
					<div class="col-lg-4 col-md-6 wow fadeIn" data-wow-delay="0.2s">
						<div class="offer">
							<div class="title">
								<span>The best</span>
							</div>
							<div class="price">
								<span>$59.99</span>
							</div>
							<div class="details">
								<ul>
									<li>Duis mi dolor, fermentum</li>
									<li>scelerisque mattis sit amet,</li>
									<li>condimentum sit amet nunc.</li>
									<li>Cras eros felis</li>
									<li>tristique sed sagittis id</li>
								</ul>
							</div>
							<div class="button">
								<a href="#">Take a plan</a>
							</div>
						</div>
					</div>
					<!--- Offer end --->

					<!--- Offer --->
					<div class="col-lg-4 col-md-6 offset-md-3 offset-lg-0 wow fadeInRight" data-wow-delay="0.5s">
						<div class="offer">
							<div class="title">
								<span>Premium</span>
							</div>
							<div class="price">
								<span>$89.99</span>
							</div>
							<div class="details">
								<ul>
									<li>Duis mi dolor, fermentum</li>
									<li>scelerisque mattis sit amet,</li>
									<li>condimentum sit amet nunc.</li>
									<li>Cras eros felis</li>
									<li>tristique sed sagittis id</li>
								</ul>
							</div>
							<div class="button">
								<a href="#">Take a plan</a>
							</div>
						</div>
					</div>
					<!--- Offer end --->

				</div>
			</div>
		</div>		
	</section>
	<!--- Pricing end --->


	<!--- Newsletter --->
	<section id="newsletter">
		<div class="container">
			<div class="section-title">
				<h2>Subscribe <span>our</span> newsletter</h2>
			</div>
			<div class="intro-text">
				<p>Sed ut perspiciatis unde omnis iste natus error sit <span>voluptatem accusantium</span></p>
			</div>
			<form method="post" action="">
				<input type="text" placeholder="enter your email address">
				<button type="submit" class="brandaloka-btn hvr-rectangle-out">Subscribe now</button>
			</form>
		</div>
	</section>
	<!--- Newsletter --->


	<!--- Contacts --->
	<section id="contacts">
		<div class="container">
			<div class="section-title">
				<h2>Get in <span>touch</span></h2>
			</div>
			<div class="intro-text">
				<p>Sed ut perspiciatis unde omnis iste natus error sit <span>voluptatem accusantium</span></p>
			</div>
			<form method="post" action="">
				<div class="row">
					<div class="col-md-6 col-xxl-4 offset-xxl-2">
						<div class="input-wrapper required">
							<input type="text" placeholder="Name">
						</div>
						<div class="input-wrapper required">
							<input type="text" placeholder="Email">
						</div>
						<div class="input-wrapper">
							<input type="text" placeholder="Subject">
						</div>
					</div>
					<div class="col-md-6 col-xxl-4">
						<div class="input-wrapper required">
							<textarea placeholder="Message"></textarea>
						</div>
					</div>
				</div>
				<button type="submit" class="brandaloka-btn hvr-rectangle-out">Submit</button>
			</form>
		</div>
	</section>
	<!--- Contacts end --->


	<!--- Footer --->
	<footer>
		<div class="container">
			<div class="social">
				<ul>
					<li>
						<a href="#" target="_blank">
							<img src="img/social/facebook.svg" alt="">
						</a>
					</li>
					<li>
						<a href="#" target="_blank">
							<img src="img/social/twitter.svg" alt="">
						</a>
					</li>
					<li>
						<a href="#" target="_blank">
							<img src="img/social/dribbble.svg" alt="">
						</a>
					</li>
				</ul>
			</div>
			<div class="copyright">
				<span>Copyright 2014 @andreyyann, All right reserved.</span>
			</div>
		</div>
	</footer>
	<!--- Footer end --->


	<script src="js/components/jquery/jquery-2.2.0.min.js"></script>
	<script src="js/components/slick/slick.min.js"></script>
	<script src="js/components/progressbar/progressbar.js"></script>
	<script src="js/components/wow/wow.min.js"></script>
	<script src="js/scripts.js"></script>
</body>
</html>