$main_font: "Lato", sans-serif;
$main_color: #019edb;
$color_white: #ffffff;
$color_black: #1b1b1b;
$default_font_size: 16px;
$section_title_font_size: 38px;
$section_number_font_size: 64px;
$section_subtitle_font_size: 24px;
$section_heading_number_bg_color: rgba(0, 0, 0, 0.5);
$default_block_padding: 30px;
$translate_x: translateX(-50%);
$translate_y: translateY(-50%);
$translate_xy: translate(-50%, -50%);
$transition_all: all ease-in-out 0.3s;
$transition_bg_color: background-color ease-in-out 0.3s;
$transition_color: color ease-in-out 0.3s;
$divider_image: "../img/divider.svg";
$menu_items_color: #373636;
$menu_items_font_size: 13px;
$mobile_menu_image: "../img/menu.svg";
$presentation_bg_image: "../img/bg/presentation.jpg";
$presentation_left_triangle: "../img/left_triangle.svg";
$presentation_right_triangle: "../img/right_triangle.svg";
$banner_default_font_size: 15px;
$banner_black_rhomb_shadow: -11px 8px 46px 0 rgba(26, 24, 24, 0.57);
$banner_black_rhomb_title_font_size: 33px;
$banner_blue_rhomb_number_color: #fefefe;
$banner_blue_rhomb_number_font_size: 82px;
$banner_blue_rhomb_title_font_size: 24px;
$about_title_font_size: 36px;
$about_subtitle_font_size: 24px;
$about_content_bg: rgba(69, 69, 69, 0.5);
$about_content_title_font_size: 25px;
$about_content_text_font_size: 14px;
$about_button_font_size: 15px;
$portfolio_bg_image: "../img/bg/portfolio.jpg";
$portfolio_white_rhomb_shadow: -11px 8px 46px 0 rgba(35, 31, 32, 0.57);
$how_it_work_bg_image: "../img/bg/how_it_work.jpg";
$how_it_work_item_title_font_size: 17px;
$testimonials_bg_image: "../img/bg/testimonials.jpg";
$testimonials_text_font_size: 14px;
$testimonials_button_font_size: 15px;
$social_icons_font_size: 27px;
$footer_bg_image: "../img/bg/footer.jpg";
$contacts_title_font_size: 17px;
$contacts_icon_shadow: -11px 8px 46px 0 rgba(35, 31, 32, 0.57);
$copyright_font_size: 17px;
$mobile_menu_bg_color: rgba(0, 0, 0, 0.8);