<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Hexal</title>
	<link rel="shortcut icon" href="favicon.ico">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap"> 
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Maven+Pro&display=swap">
	<link rel="stylesheet" href="css/components/slick/slick.css">
	<link rel="stylesheet" href="css/style.css">
</head>
<body>

	
	<!--- Mobile menu --->
	<section id="mobile-menu">
		<button id="menu-close-button" class="close-button"></button>
		<div class="navigation">
			<ul>
				<li>
					<a href="#" class="active">Portfolio</a>
				</li>
				<li>
					<a href="#">About</a>
				</li>
				<li>
					<a href="#">Blog</a>
				</li>
				<li>
					<a href="#">Get in touch</a>
				</li>
			</ul>
		</div>
	</section>
	<!--- Mobile menu end --->


	<!--- Header --->
	<header>
		<div class="container">
			<div class="navigation">
				<ul>
					<li class="menu-item">
						<a href="#" class="active">Portfolio</a>
					</li>
					<li class="menu-item">
						<a href="#">About</a>
					</li>
					<li class="logo">
						<a href="#">
							<img src="img/logo.svg" alt="Hexal">
						</a>
					</li>
					<li class="menu-item">
						<a href="#">Blog</a>
					</li>
					<li class="menu-item">
						<a href="#">Get in touch</a>
					</li>
				</ul>
				<button id="menu-open-button" class="mobile-menu-button"></button>
			</div>
		</div>
	</header>
	<!--- Header end --->


	<!--- Slider --->
	<section id="slider">
		<div class="container">
			<div class="slider-container">
				<div id="main-slider">

					<!--- Slide --->
					<div class="slide">
						<ul>

							<!--- Hexagon --->
							<li>
								<div class="hexagon">
									<div class="image">
										  <img src="img/illustrations/image_1.jpg" alt=""/>
									</div>
								</div>
							</li>
							<!--- Hexagon end --->

							<!--- Hexagon --->
							<li>
								<div class="hexagon">
									<div class="image">
										  <img src="img/illustrations/image_2.jpg" alt=""/>
									</div>
								</div>
							</li>
							<!--- Hexagon end --->

							<!--- Hexagon --->
							<li>
								<div class="hexagon">
									<div class="image">
										  <img src="img/illustrations/image_3.jpg" alt=""/>
									</div>
								</div>
							</li>
							<!--- Hexagon end --->

							<!--- Hexagon --->
							<li>
								<div class="hexagon">
									<div class="image">
										  <img src="img/illustrations/image_4.jpg" alt=""/>
									</div>
								</div>
							</li>
							<!--- Hexagon end --->

							<!--- Hexagon --->
							<li>
								<div class="hexagon">
									<div class="image">
										  <img src="img/illustrations/image_5.jpg" alt=""/>
									</div>
								</div>
							</li>
							<!--- Hexagon end --->

							<!--- Hexagon --->
							<li>
								<div class="hexagon">
									<div class="image">
										  <img src="img/illustrations/image_6.jpg" alt=""/>
									</div>
								</div>
							</li>
							<!--- Hexagon end --->

							<!--- Hexagon --->
							<li>
								<div class="hexagon">
									<div class="image">
										  <img src="img/illustrations/image_7.jpg" alt=""/>
									</div>
								</div>
							</li>
							<!--- Hexagon end --->

							<!--- Hexagon --->
							<li>
								<div class="hexagon">
									<div class="image">
										  <img src="img/illustrations/image_8.jpg" alt=""/>
									</div>
								</div>
							</li>
							<!--- Hexagon end --->

							<!--- Hexagon --->
							<li>
								<div class="hexagon">
									<div class="image">
										  <img src="img/illustrations/image_9.jpg" alt=""/>
									</div>
								</div>
							</li>
							<!--- Hexagon end --->

							<!--- Hexagon --->
							<li>
								<div class="hexagon">
									<div class="image">
										  <img src="img/illustrations/image_10.jpg" alt=""/>
									</div>
								</div>
							</li>
							<!--- Hexagon end --->

							<!--- Hexagon --->
							<li>
								<div class="hexagon">
									<div class="image">
										  <img src="img/illustrations/image_11.jpg" alt=""/>
									</div>
								</div>
							</li>
							<!--- Hexagon end --->

							<!--- Hexagon --->
							<li>
								<div class="hexagon">
									<div class="image">
										  <img src="img/illustrations/image_12.jpg" alt=""/>
									</div>
								</div>
							</li>
							<!--- Hexagon end --->

							<!--- Hexagon --->
							<li>
								<div class="hexagon">
									<div class="image">
										  <img src="img/illustrations/image_13.jpg" alt=""/>
									</div>
								</div>
							</li>
							<!--- Hexagon end --->

						</ul>
					</div>
					<!--- Slide end --->

					<!--- Slide --->
					<div class="slide">
						<ul>

							<!--- Hexagon --->
							<li>
								<div class="hexagon">
									<div class="image">
										  <img src="img/illustrations/image_1.jpg" alt=""/>
									</div>
								</div>
							</li>
							<!--- Hexagon end --->

							<!--- Hexagon --->
							<li>
								<div class="hexagon">
									<div class="image">
										  <img src="img/illustrations/image_2.jpg" alt=""/>
									</div>
								</div>
							</li>
							<!--- Hexagon end --->

							<!--- Hexagon --->
							<li>
								<div class="hexagon">
									<div class="image">
										  <img src="img/illustrations/image_3.jpg" alt=""/>
									</div>
								</div>
							</li>
							<!--- Hexagon end --->

							<!--- Hexagon --->
							<li>
								<div class="hexagon">
									<div class="image">
										  <img src="img/illustrations/image_4.jpg" alt=""/>
									</div>
								</div>
							</li>
							<!--- Hexagon end --->

							<!--- Hexagon --->
							<li>
								<div class="hexagon">
									<div class="image">
										  <img src="img/illustrations/image_5.jpg" alt=""/>
									</div>
								</div>
							</li>
							<!--- Hexagon end --->

							<!--- Hexagon --->
							<li>
								<div class="hexagon">
									<div class="image">
										  <img src="img/illustrations/image_6.jpg" alt=""/>
									</div>
								</div>
							</li>
							<!--- Hexagon end --->

							<!--- Hexagon --->
							<li>
								<div class="hexagon">
									<div class="image">
										  <img src="img/illustrations/image_7.jpg" alt=""/>
									</div>
								</div>
							</li>
							<!--- Hexagon end --->

							<!--- Hexagon --->
							<li>
								<div class="hexagon">
									<div class="image">
										  <img src="img/illustrations/image_8.jpg" alt=""/>
									</div>
								</div>
							</li>
							<!--- Hexagon end --->

							<!--- Hexagon --->
							<li>
								<div class="hexagon">
									<div class="image">
										  <img src="img/illustrations/image_9.jpg" alt=""/>
									</div>
								</div>
							</li>
							<!--- Hexagon end --->

							<!--- Hexagon --->
							<li>
								<div class="hexagon">
									<div class="image">
										  <img src="img/illustrations/image_10.jpg" alt=""/>
									</div>
								</div>
							</li>
							<!--- Hexagon end --->

							<!--- Hexagon --->
							<li>
								<div class="hexagon">
									<div class="image">
										  <img src="img/illustrations/image_11.jpg" alt=""/>
									</div>
								</div>
							</li>
							<!--- Hexagon end --->

							<!--- Hexagon --->
							<li>
								<div class="hexagon">
									<div class="image">
										  <img src="img/illustrations/image_12.jpg" alt=""/>
									</div>
								</div>
							</li>
							<!--- Hexagon end --->

							<!--- Hexagon --->
							<li>
								<div class="hexagon">
									<div class="image">
										  <img src="img/illustrations/image_13.jpg" alt=""/>
									</div>
								</div>
							</li>
							<!--- Hexagon end --->

						</ul>
					</div>
					<!--- Slide end --->

					<!--- Slide --->
					<div class="slide">
						<ul>

							<!--- Hexagon --->
							<li>
								<div class="hexagon">
									<div class="image">
										  <img src="img/illustrations/image_1.jpg" alt=""/>
									</div>
								</div>
							</li>
							<!--- Hexagon end --->

							<!--- Hexagon --->
							<li>
								<div class="hexagon">
									<div class="image">
										  <img src="img/illustrations/image_2.jpg" alt=""/>
									</div>
								</div>
							</li>
							<!--- Hexagon end --->

							<!--- Hexagon --->
							<li>
								<div class="hexagon">
									<div class="image">
										  <img src="img/illustrations/image_3.jpg" alt=""/>
									</div>
								</div>
							</li>
							<!--- Hexagon end --->

							<!--- Hexagon --->
							<li>
								<div class="hexagon">
									<div class="image">
										  <img src="img/illustrations/image_4.jpg" alt=""/>
									</div>
								</div>
							</li>
							<!--- Hexagon end --->

							<!--- Hexagon --->
							<li>
								<div class="hexagon">
									<div class="image">
										  <img src="img/illustrations/image_5.jpg" alt=""/>
									</div>
								</div>
							</li>
							<!--- Hexagon end --->

							<!--- Hexagon --->
							<li>
								<div class="hexagon">
									<div class="image">
										  <img src="img/illustrations/image_6.jpg" alt=""/>
									</div>
								</div>
							</li>
							<!--- Hexagon end --->

							<!--- Hexagon --->
							<li>
								<div class="hexagon">
									<div class="image">
										  <img src="img/illustrations/image_7.jpg" alt=""/>
									</div>
								</div>
							</li>
							<!--- Hexagon end --->

							<!--- Hexagon --->
							<li>
								<div class="hexagon">
									<div class="image">
										  <img src="img/illustrations/image_8.jpg" alt=""/>
									</div>
								</div>
							</li>
							<!--- Hexagon end --->

							<!--- Hexagon --->
							<li>
								<div class="hexagon">
									<div class="image">
										  <img src="img/illustrations/image_9.jpg" alt=""/>
									</div>
								</div>
							</li>
							<!--- Hexagon end --->

							<!--- Hexagon --->
							<li>
								<div class="hexagon">
									<div class="image">
										  <img src="img/illustrations/image_10.jpg" alt=""/>
									</div>
								</div>
							</li>
							<!--- Hexagon end --->

							<!--- Hexagon --->
							<li>
								<div class="hexagon">
									<div class="image">
										  <img src="img/illustrations/image_11.jpg" alt=""/>
									</div>
								</div>
							</li>
							<!--- Hexagon end --->

							<!--- Hexagon --->
							<li>
								<div class="hexagon">
									<div class="image">
										  <img src="img/illustrations/image_12.jpg" alt=""/>
									</div>
								</div>
							</li>
							<!--- Hexagon end --->

							<!--- Hexagon --->
							<li>
								<div class="hexagon">
									<div class="image">
										  <img src="img/illustrations/image_13.jpg" alt=""/>
									</div>
								</div>
							</li>
							<!--- Hexagon end --->

						</ul>
					</div>
					<!--- Slide end --->

					<!--- Slide --->
					<div class="slide">
						<ul>

							<!--- Hexagon --->
							<li>
								<div class="hexagon">
									<div class="image">
										  <img src="img/illustrations/image_1.jpg" alt=""/>
									</div>
								</div>
							</li>
							<!--- Hexagon end --->

							<!--- Hexagon --->
							<li>
								<div class="hexagon">
									<div class="image">
										  <img src="img/illustrations/image_2.jpg" alt=""/>
									</div>
								</div>
							</li>
							<!--- Hexagon end --->

							<!--- Hexagon --->
							<li>
								<div class="hexagon">
									<div class="image">
										  <img src="img/illustrations/image_3.jpg" alt=""/>
									</div>
								</div>
							</li>
							<!--- Hexagon end --->

							<!--- Hexagon --->
							<li>
								<div class="hexagon">
									<div class="image">
										  <img src="img/illustrations/image_4.jpg" alt=""/>
									</div>
								</div>
							</li>
							<!--- Hexagon end --->

							<!--- Hexagon --->
							<li>
								<div class="hexagon">
									<div class="image">
										  <img src="img/illustrations/image_5.jpg" alt=""/>
									</div>
								</div>
							</li>
							<!--- Hexagon end --->

							<!--- Hexagon --->
							<li>
								<div class="hexagon">
									<div class="image">
										  <img src="img/illustrations/image_6.jpg" alt=""/>
									</div>
								</div>
							</li>
							<!--- Hexagon end --->

							<!--- Hexagon --->
							<li>
								<div class="hexagon">
									<div class="image">
										  <img src="img/illustrations/image_7.jpg" alt=""/>
									</div>
								</div>
							</li>
							<!--- Hexagon end --->

							<!--- Hexagon --->
							<li>
								<div class="hexagon">
									<div class="image">
										  <img src="img/illustrations/image_8.jpg" alt=""/>
									</div>
								</div>
							</li>
							<!--- Hexagon end --->

							<!--- Hexagon --->
							<li>
								<div class="hexagon">
									<div class="image">
										  <img src="img/illustrations/image_9.jpg" alt=""/>
									</div>
								</div>
							</li>
							<!--- Hexagon end --->

							<!--- Hexagon --->
							<li>
								<div class="hexagon">
									<div class="image">
										  <img src="img/illustrations/image_10.jpg" alt=""/>
									</div>
								</div>
							</li>
							<!--- Hexagon end --->

							<!--- Hexagon --->
							<li>
								<div class="hexagon">
									<div class="image">
										  <img src="img/illustrations/image_11.jpg" alt=""/>
									</div>
								</div>
							</li>
							<!--- Hexagon end --->

							<!--- Hexagon --->
							<li>
								<div class="hexagon">
									<div class="image">
										  <img src="img/illustrations/image_12.jpg" alt=""/>
									</div>
								</div>
							</li>
							<!--- Hexagon end --->

							<!--- Hexagon --->
							<li>
								<div class="hexagon">
									<div class="image">
										  <img src="img/illustrations/image_13.jpg" alt=""/>
									</div>
								</div>
							</li>
							<!--- Hexagon end --->

						</ul>
					</div>
					<!--- Slide end --->

					<!--- Slide --->
					<div class="slide">
						<ul>

							<!--- Hexagon --->
							<li>
								<div class="hexagon">
									<div class="image">
										  <img src="img/illustrations/image_1.jpg" alt=""/>
									</div>
								</div>
							</li>
							<!--- Hexagon end --->

							<!--- Hexagon --->
							<li>
								<div class="hexagon">
									<div class="image">
										  <img src="img/illustrations/image_2.jpg" alt=""/>
									</div>
								</div>
							</li>
							<!--- Hexagon end --->

							<!--- Hexagon --->
							<li>
								<div class="hexagon">
									<div class="image">
										  <img src="img/illustrations/image_3.jpg" alt=""/>
									</div>
								</div>
							</li>
							<!--- Hexagon end --->

							<!--- Hexagon --->
							<li>
								<div class="hexagon">
									<div class="image">
										  <img src="img/illustrations/image_4.jpg" alt=""/>
									</div>
								</div>
							</li>
							<!--- Hexagon end --->

							<!--- Hexagon --->
							<li>
								<div class="hexagon">
									<div class="image">
										  <img src="img/illustrations/image_5.jpg" alt=""/>
									</div>
								</div>
							</li>
							<!--- Hexagon end --->

							<!--- Hexagon --->
							<li>
								<div class="hexagon">
									<div class="image">
										  <img src="img/illustrations/image_6.jpg" alt=""/>
									</div>
								</div>
							</li>
							<!--- Hexagon end --->

							<!--- Hexagon --->
							<li>
								<div class="hexagon">
									<div class="image">
										  <img src="img/illustrations/image_7.jpg" alt=""/>
									</div>
								</div>
							</li>
							<!--- Hexagon end --->

							<!--- Hexagon --->
							<li>
								<div class="hexagon">
									<div class="image">
										  <img src="img/illustrations/image_8.jpg" alt=""/>
									</div>
								</div>
							</li>
							<!--- Hexagon end --->

							<!--- Hexagon --->
							<li>
								<div class="hexagon">
									<div class="image">
										  <img src="img/illustrations/image_9.jpg" alt=""/>
									</div>
								</div>
							</li>
							<!--- Hexagon end --->

							<!--- Hexagon --->
							<li>
								<div class="hexagon">
									<div class="image">
										  <img src="img/illustrations/image_10.jpg" alt=""/>
									</div>
								</div>
							</li>
							<!--- Hexagon end --->

							<!--- Hexagon --->
							<li>
								<div class="hexagon">
									<div class="image">
										  <img src="img/illustrations/image_11.jpg" alt=""/>
									</div>
								</div>
							</li>
							<!--- Hexagon end --->

							<!--- Hexagon --->
							<li>
								<div class="hexagon">
									<div class="image">
										  <img src="img/illustrations/image_12.jpg" alt=""/>
									</div>
								</div>
							</li>
							<!--- Hexagon end --->

							<!--- Hexagon --->
							<li>
								<div class="hexagon">
									<div class="image">
										  <img src="img/illustrations/image_13.jpg" alt=""/>
									</div>
								</div>
							</li>
							<!--- Hexagon end --->

						</ul>
					</div>
					<!--- Slide end --->

					<!--- Slide --->
					<div class="slide">
						<ul>

							<!--- Hexagon --->
							<li>
								<div class="hexagon">
									<div class="image">
										  <img src="img/illustrations/image_1.jpg" alt=""/>
									</div>
								</div>
							</li>
							<!--- Hexagon end --->

							<!--- Hexagon --->
							<li>
								<div class="hexagon">
									<div class="image">
										  <img src="img/illustrations/image_2.jpg" alt=""/>
									</div>
								</div>
							</li>
							<!--- Hexagon end --->

							<!--- Hexagon --->
							<li>
								<div class="hexagon">
									<div class="image">
										  <img src="img/illustrations/image_3.jpg" alt=""/>
									</div>
								</div>
							</li>
							<!--- Hexagon end --->

							<!--- Hexagon --->
							<li>
								<div class="hexagon">
									<div class="image">
										  <img src="img/illustrations/image_4.jpg" alt=""/>
									</div>
								</div>
							</li>
							<!--- Hexagon end --->

							<!--- Hexagon --->
							<li>
								<div class="hexagon">
									<div class="image">
										  <img src="img/illustrations/image_5.jpg" alt=""/>
									</div>
								</div>
							</li>
							<!--- Hexagon end --->

							<!--- Hexagon --->
							<li>
								<div class="hexagon">
									<div class="image">
										  <img src="img/illustrations/image_6.jpg" alt=""/>
									</div>
								</div>
							</li>
							<!--- Hexagon end --->

							<!--- Hexagon --->
							<li>
								<div class="hexagon">
									<div class="image">
										  <img src="img/illustrations/image_7.jpg" alt=""/>
									</div>
								</div>
							</li>
							<!--- Hexagon end --->

							<!--- Hexagon --->
							<li>
								<div class="hexagon">
									<div class="image">
										  <img src="img/illustrations/image_8.jpg" alt=""/>
									</div>
								</div>
							</li>
							<!--- Hexagon end --->

							<!--- Hexagon --->
							<li>
								<div class="hexagon">
									<div class="image">
										  <img src="img/illustrations/image_9.jpg" alt=""/>
									</div>
								</div>
							</li>
							<!--- Hexagon end --->

							<!--- Hexagon --->
							<li>
								<div class="hexagon">
									<div class="image">
										  <img src="img/illustrations/image_10.jpg" alt=""/>
									</div>
								</div>
							</li>
							<!--- Hexagon end --->

							<!--- Hexagon --->
							<li>
								<div class="hexagon">
									<div class="image">
										  <img src="img/illustrations/image_11.jpg" alt=""/>
									</div>
								</div>
							</li>
							<!--- Hexagon end --->

							<!--- Hexagon --->
							<li>
								<div class="hexagon">
									<div class="image">
										  <img src="img/illustrations/image_12.jpg" alt=""/>
									</div>
								</div>
							</li>
							<!--- Hexagon end --->

							<!--- Hexagon --->
							<li>
								<div class="hexagon">
									<div class="image">
										  <img src="img/illustrations/image_13.jpg" alt=""/>
									</div>
								</div>
							</li>
							<!--- Hexagon end --->

						</ul>
					</div>
					<!--- Slide end --->

				</div>
				<div class="bottom">
					<div class="slider-dots"></div>
				</div>
			</div>
		</div>
	</section>
	<!--- Slider end --->


	<!--- About --->
	<section id="about">
		<div class="container">
			<div class="wrapper">
				<div>
					<div class="hexagon">
						<div class="avatar">
							<img src="img/avatar.jpg" alt="Smith Anderson">
						</div>
					</div>
				</div>
				<div class="content">
					<div class="name">
						<span>Smith Anderson</span>
					</div>
					<div class="career">
						<span>Illustrator & Character Designer</span>
					</div>
					<div class="text">
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris porttitor, nibh at sagittis tristique, enim magna pretium augue, eget consectetur sem dui non urna. Integer gravida, diam congue molestie fringilla, elit odio rhoncus turpis, ac dictum libero elit vel metus. Morbi egestas sit amet velit eget venenatis. Mauris porttitor, nibh at sagittis tristique, enim magna pretium augue, eget consectetur sem dui non urna</p>
					</div>
					<div class="social">
						<ul>
							<li>
								<a href="#" class="facebook">
									<img src="img/social/facebook.svg" alt="">
								</a>
							</li>
							<li>
								<a href="#" class="twitter">
									<img src="img/social/twitter.svg" alt="">
								</a>
							</li>
							<li>
								<a href="#" class="google-plus">
									<img src="img/social/google_plus.svg" alt="">									
								</a>
							</li>
							<li>
								<a href="#" class="pinterest">
									<img src="img/social/pinterest.svg" alt="">
								</a>
							</li>
							<li>
								<a href="#" class="linkedin">
									<img src="img/social/linkedin.svg" alt="">
								</a>
							</li>
							<li>
								<a href="#" class="dribbble">
									<img src="img/social/dribbble.svg" alt="">
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--- About end --->


	<!--- Contacts --->
	<section id="contacts">
		<div class="container">
			<div class="heading">
				<div class="title">
					<span>Get In Touch</span>
				</div>
				<div class="description">
					<span>In order to get in touch use the contact form below:</span>
				</div>
			</div>
			<div class="content">
				<form method="post" action="">
					<input type="text" placeholder="Name (Required)">
					<input type="text" placeholder="Email (Required)">
					<input type="text" placeholder="Subject">
					<textarea placeholder="Write your message here..."></textarea>
					<button type="submit">Send</button>
				</form>
				<div class="info">
					<div class="text">
						<p><span>Quisque Hendrerit:</span> purus dapibus, ornare nibh vitae, viverra nibh. Fusce vitae aliquam tellus. Proin sit amet volutpat libero. Nulla sed nunc et tortor luctus faucibus morbi vitae. </p>
					</div>
					<ul>
						<li>
							<div class="icon">
								<img src="img/location.svg" alt="">
							</div>
							<span>Elm St. 14/05 Lost City</span>
						</li>
						<li>
							<div class="icon">
								<img src="img/phone.svg" alt="">
							</div>
							<span>+ 3528 331 86 35</span>
						</li>
						<li>
							<div class="icon">
								<img src="img/mail.svg" alt="">
							</div>
							<span>info@hexalcorp.com</span>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</section>
	<!--- Contacts end --->


	<!--- Footer --->
	<footer>
		<div class="container">
			<div class="copyright">
				<span>&copy; Copyright 2013 by PSDchat</span>
			</div>
		</div>
	</footer>
	<!--- Footer end --->


	<script src="js/components/jquery/jquery-2.2.0.min.js"></script>
	<script src="js/components/slick/slick.min.js"></script>
	<script src="js/scripts.js"></script>	
</body>
</html>