- 
	var styles = [
		"https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap",
		"https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&display=swap",
		"css/components/bootstrap/bootstrap.min.css",
		"css/components/animate/animate.min.css",
		"css/style.css"]

- 
	var scripts = [
		"js/components/jquery/jquery-2.2.0.min.js",
		"js/components/wow/wow.min.js",
		"js/scripts.js"]