- var email = "ilnarkino@yandex.ru"

- 
	var social = [
		
		{
			profile: "https://t.me/ilnar861",
			icon: "img/social/telegram.svg"
		},

		{
			profile: "https://vk.com/ilnar86",
			icon: "img/social/vk.svg"
		},

		{
			profile: "https://github.com/ilnarkin861",
			icon: "img/social/github.svg"
		},
	]