- var delay = 500

- 
	var servicesList = [
		{
			picture: "img/services/design.svg",
			title: "Web-дизайн",
			description: "Создание уникального дизайна для будущего сайта"
		},

		{
			picture: "img/services/layout.svg",
			title: "Верстка",
			description: "Кроссбраузерная, адаптивная и pixel perfect верстка макета"
		},

		{
			picture: "img/services/spa.svg",
			title: "SPA",
			description: "Разработка клиентских одностраничных web-приложений (single page applications) на Angular"
		},
		
		{
			picture: "img/services/server.svg",
			title: "Web-Api",
			description: "Разработка серверных web-приложений на C#"
		},
	]