- var skillsSectionTitle = "Мои навыки"

- 
	var skillsGroups = [
		{
			groupTitle: "Frontend",
			skills: [
				{
					title: "HTML/Pug",
					percent: 98
				},

				{
					title: "CSS3",
					percent: 98
				},

				{
					title: "Bootstrap",
					percent: 95
				},

				{
					title: "Bulma",
					percent: 75
				},

				{
					title: "Tailwind",
					percent: 73
				},

				{
					title: "Javascript",
					percent: 80
				},

				{
					title: "Typescript",
					percent: 70
				},

				{
					title: "Angular",
					percent: 75
				},
			]
		},

		{
			groupTitle: "Web-дизайн",
			skills: [
				{
					title: "Photoshop",
					percent: 80
				},

				{
					title: "Figma",
					percent: 65
				},

				{
					title: "Inkscape",
					percent: 45
				},
			]
		},

		{
			groupTitle: "Backend",
			skills: [
				{
					title: "C#",
					percent: 75
				},

				{
					title: "Django",
					percent: 85
				},
			]
		},
	]