- 
	var webDesignProjects = [
		
		{
			title: "Веб студия",
			poster: "examples/web-design/the_studio/poster.jpg",
			fullImage: "examples/web-design/the_studio/full.jpg"
		},

		{
			title: "Портфолио разработчика",
			poster: "examples/web-design/portfolio/poster.jpg",
			fullImage: "examples/web-design/portfolio/full.jpg"
		},

		{
			title: "Услуги переезда",
			poster: "examples/web-design/moving/poster.jpg",
			fullImage: "examples/web-design/moving/full.jpg"
		},

		{
			title: "Ветеринарная клиника",
			poster: "examples/web-design/pet_clinic/poster.jpg",
			fullImage: "examples/web-design/pet_clinic/full.jpg"
		},

		{
			title: "Интернет провайдер",
			poster: "examples/web-design/omega/poster.jpg",
			fullImage: "examples/web-design/omega/full.jpg"
		},

		{
			title: "Магазин ручных изделий",
			poster: "examples/web-design/handmadeshop/poster.jpg",
			fullImage: "examples/web-design/handmadeshop/full.jpg"
		},

		{
			title: "Аренда кранов",
			poster: "examples/web-design/crane/poster.jpg",
			fullImage: "examples/web-design/crane/full.jpg"
		},


	]

-	
	var layoutsProjects = [
		{
			title: "Brandaloka",
			image: "img/projects/templates/brandaloka.jpg",
			viewLink: "examples/templates/brandaloka/index.html",
			psdLink: "https://www.behance.net/gallery/14493795/BrandaLoka-Creative-Onepage-PSD-Template",
			gitHubLink: "https://github.com/ilnarkin861/brandaloka_html"
		},

		{
			title: "Hexagon",
			image: "img/projects/templates/hexagon.jpg",
			viewLink: "examples/templates/hexagon/index.html",
			psdLink: "https://disk.yandex.ru/i/fNcmyf3SsfNuLg",
			gitHubLink: "https://github.com/ilnarkin861/hexagon_html"
		},

		{
			title: "Creative portfolio",
			image: "img/projects/templates/creative.jpg",
			viewLink: "examples/templates/creative/index.html",
			psdLink: "https://psdfreebies.com/psd/multipurpose-portfolio-website-template-free-psd/",
			gitHubLink: "https://github.com/ilnarkin861/creative_html_template"
		},

		{
			title: "Farmfield",
			image: "img/projects/templates/farmfield.jpg",
			viewLink: "examples/templates/farmfiled/index.html",
			psdLink: "https://html.design/download/green-farming-psd-template/",
			gitHubLink: "https://github.com/ilnarkin861/farmfield_html"
		},

		{
			title: "Hexal",
			image: "img/projects/templates/hexal.jpg",
			viewLink: "examples/templates/hexal/index.html",
			psdLink: "https://freebiesbug.com/psd-freebies/hexal-psd-portfolio-template/",
			gitHubLink: "https://github.com/ilnarkin861/hexal_html"
		},

		{
			title: "Pentart",
			image: "img/projects/templates/pentart.jpg",
			viewLink: "examples/templates/pentart/index.html",
			psdLink: "https://html.design/download/painting-art-gallery-psd-template/",
			gitHubLink: "https://github.com/ilnarkin861/pentart_html"
		},

		{
			title: "Peart",
			image: "img/projects/templates/peart.jpg",
			viewLink: "examples/templates/peart/index.html",
			psdLink: "https://html.design/download/peart-painting-psd-template/",
			gitHubLink: "https://github.com/ilnarkin861/peart_html"
		},

		{
			title: "Universal",
			image: "img/projects/templates/universal.jpg",
			viewLink: "examples/templates/universal/index.html",
			psdLink: "https://disk.yandex.ru/i/jseZdc4aj6X3ww",
			gitHubLink: "https://github.com/ilnarkin861/universal_html"
		},

		{
			title: "Mike portfolio",
			image: "img/projects/templates/mike.jpg",
			viewLink: "examples/templates/mike/index.html",
			psdLink: "https://freebiesupply.com/free-psd-websites/personal-website-template-by-mike-taylor/",
			gitHubLink: "https://github.com/ilnarkin861/mike_html"
		},
	]