//About
section#about.text-center
	.container
		.text
			p.
				#[strong(style="font-size: 22px") Здравствуйте!]#[br]#[br]
				Меня зовут Ильнар. Я начинающий разработчик, веб-дизайнер. На этой странице хочу 
				представить вашему вниманию некоторые из моих работ: примеры шаблонов, сверстанных из 
				открытых источников и дизайн-концепты, прототипы сайтов, выполненные на платформе Figma.
				#[br]
				#[br]
				Также имеется некоторый опыт в серверном программировании (C#, Python/Django) и 
				создании одностраничных интерактивных приложений на Angular.
//About end
