//About
section#about.text-center
	.container
		.text
			p.
				#[strong(style="font-size: 22px") Здравствуйте!]#[br]#[br]
				Меня зовут Ильнар. Я начинающий разработчик, веб-дизайнер. Обладаю навыками 
				frontend-разработки (HTML5/Pug, CSS3, Javascript, Jquery, Angular) и немного
				разбираюсь в серверном программировании (C#, Python/Django). Также с недавного времени 
				решил попробовать себя в веб-дизайне. На этой странице хочу представить вашему 
				вниманию некоторые из моих работ. А именно, примеры верстки шаблонов, прототипы и 
				дизайн-концепты сайтов.
//About end
