mixin showSectionTitle(title, animated=true)
    div(class=animated ? "section-title wow fadeIn" : "section-title")
        h2 #{title}
        .corner.corner-left-top
        .corner.corner-right-top
        .corner.corner-left-bottom
        .corner.corner-right-bottom