section#template-loader.hidden
	.header
		.container
			.buttons.d-flex.justify-content-between
				button#template-loader-close.close-button(title='Назад')
				.device-buttons
					ul
						li
							button#phone-button.device-button(data-width='480px' title='Телефоны')
						li
							button#tablet-button.device-button(data-width='990px' title='Планшеты')
						li
							button#desktop-button.device-button(data-width='100%' title='Настольные компьютеры')
	.template-area