$berlin_sans_fb_font: "Berlin Sans FB Demi Bold", sans-serif;
$poppins_font: "Poppins", sans-serif;
$helvetica_font: "Helvetica", sans-serif;
$helvetica_bold_font: "Helvetica Bold", sans-serif;
$default_font_size: 17px;
$main_color: #02231a;
$primary_yellow: #dfe108;
$secondary_yellow: #e6e804;
$section_title_font_size: 40px;
$color_white: #ffffff;
$left_clip_path: polygon(0 0, 100% 112px, 100% calc(100% - 112px), 0 100%);
$right_clip_path: polygon(0 112px, 100% 0, 100% 100%, 0 calc(100% - 112px));
$translate_x: translateX(-50%);
$translate_y: translateY(-50%);
$translate_xy: translate(-50%, -50%);
$transition_all: all ease-in-out 0.3s;
$transition_bg_color: background-color ease-in-out 0.3s;
$transition_color: color ease-in-out 0.3s;
$slider_button_hover_bg_color: #0d211b;
$menu_shadow: 7px 0 20px 0 rgba(0, 0, 0, 0.3);
$menu_logo_font_size: 36px;
$menu_close_button_font_size: 40px;
$header_logo_font_size: 40px;
$slide_title_font_size: 80px;
$slide_title_font_size_sm: 44px;
$slide_second_button_color: #1b0e0e;
$works_title_font_size: 25px;
$button_color: #fcfffe;
$works_slider_button_bg_color: #171717;
$works_image_clip_path: polygon(0 0, 100% 27px, 100% calc(100% - 36px), 0% 100%);
$feature_item_bg_color: rgba(2, 35, 26, 0.95);
$feature_item_bg_color_hover: rgba(230, 232, 4, 0.95);
$feature_icon_color: #fafbfb;
$feature_icon_color_hover: #000000;
$feature_text_color: #fefeff;
$feature_text_color_hover: #08281f;
$feature_title_font_size: 25px;
$feature_button_color_hover: #07261d;
$feature_button_bg_color_hover: #dddf06;
$post_details_clip_path: polygon(0 0, 100% 58px, 100% calc(100% - 100px), 0 100%);
$post_details_bg_color: #0d211b;
$post_details_color: #fdfffe;
$contact_form_placeholder_color: #090909;
$contact_form_placeholder_font_size: 15px;
$contact_form_button_color: #000000;
$testimonial_author_font_size: 25px;
$testimonial_item_top_clip_path: polygon(0 0, 100% 60px, 100% 100%, 0% 100%);
$testimonial_item_bottom_clip_path: polygon(0 0, 100% 0, 100% calc(100% - 60px), 0% 100%);
$testimonial_slider_button_hover_bg_color: #0d211b;
$footer_column_title_font_size: 30px;
$footer_contacts_icon_font_size: 24px;
$subscribe_input_placeholder_font_size: 14px;
$subscribe_input_placeholder_color: #071b15;
$subscribe_input_border_color: #3b462c;
$subscribe_form_button_color: #04231a;
$copyright_color: #fefeff;