#slider{
	margin-top: 11px;
	overflow: hidden;

	.container{
		padding: 0;
	}
	
	.slider-container{
		padding-top: 79px;
		position: relative;

		&::before,
		&::after{
			content: "";
			height: 1px;
			background: $separator_color;
			position: absolute;
			top: 0;

			@media (max-width: 500px){
				display: none;
			}
		}

		&::before{
			width: 42.3%;
			left: 10px;
		}

		&::after{
			width: 42.5%;
			right: 10px;
		}

		.slide ul{
			text-align: center;
			font-size: 0;

			li{
				display: inline-block;
				margin: 0 10px;

				.hexagon{
					width: 180px;
					height: 206px;
					position: relative;
					overflow: hidden;
					visibility: hidden;
					@include prefixed(transform, rotate(-60deg) skewY(30deg) translatez(-1px));

					*{
						visibility: visible;
					}

					.image{
						display: block;
						width: 100%;
						height: 100%;
						overflow: hidden;
						position: absolute;
						@include prefixed(transform, skewY(-30deg) rotate(60deg));

						img{
							width: 100%;
							height: 100%;
							object-fit: cover;
						}
					}

					@media (max-width: 1014px){
						margin-top: 20px;	
					}
				}

				@media (min-width: 1015px){
					&:nth-child(1){
						margin-left: 90px;
					}

					&:nth-child(4){
						margin-right: 90px;
					}

					&:nth-child(n+5):nth-child(-n+13){
						margin-top: -38px;
					}

					&:nth-child(1),
					&:nth-child(4),
					&:nth-child(10),
					&:nth-child(13){
						position: relative;

						&::before{
							content: "";
							width: 1px;
							height: 104px;
							background: $separator_color;
							position: absolute;
							top: 50%;
							@include prefixed(transform, translateY(-50%));
						}
					}

					&:nth-child(1),
					&:nth-child(10){
						&::before{
							left: -20px;
						}
					}

					&:nth-child(4),
					&:nth-child(13){
						&::before{
							right: -20px;
						}
					}
				}
			}
		}

		.bottom{
			width: 960px;
			margin: 60px auto 11px;
			padding-bottom: 4px;
			border-bottom: 1px solid $separator_color;

			.slider-dots{
				ul{
					font-size: 0;

					li{
						display: inline-block;
						margin-right: 3px;

						button{
							width: 6px;
							height: 6px;
							background: $slider_dots_color;
							overflow: hidden;
							text-indent: -100px;
						}

						&.slick-active{
							button{
								background: $slider_active_dot_color;
							}
						}
					}
				}
			}

			@media (max-width: 980px){
				width: 85%;	
			}
		}
	}
}