$primary_font: "Open Sans", sans-serif;
$secondary_font: "Roboto Slab", serif;
$default_font_size: 15px;
$color_white: #ffffff;
$main_color: #2d3141;
$main_color_rgba: rgba(45, 49, 65, 0.95);
$color_grey: #e7e7e7;
$transition_duration: 0.3s;
$header_name_font_size: 34px;
$section_title_font_size: 20px;
$header_experience_color: #bfc4d6;
$header_experience_font_size: 18px;
$service_title_color: #8b90a3;
$service_title_font_size: 16px;
$service_description_font_size: 13px;
$skills_group_title_color: #c1c5d1;
$skills_group_title_font_size: 22px;
$skill_progress_bar_bg_color: #13151c;
$skill_progress_bar_inner_bg_color: #464c5b;
$projects-group-title_font_size: 16px;
$projects_border_color: #d1d6e6;
$layout_projects-title_font_size: 20px;
$project_links_bg_color: #efefef;
$projects_description_font_size: 13px;
$web_disign_projects_browser_color: #545454;
$web_disign_projects_browser_overlay_color: rgba(84, 84, 84, 0.9);
$image_loader_font_size: 20px;