$raleway_font: "Raleway", sans-serif;
$raleway_heavy_font: "Raleway Heavy", sans-serif;
$main_color: #ae8370;
$color_white: #ffffff;
$transition_duration: 0.3s;
$default_font_size: 18px;
$section_title_font_size: 30px;
$details_link_font_size: 22px;
$mobile_menu_bg_color: rgba(0, 0, 0, 0.9);
$mobile_menu_font_size: 20px;
$hexagon_left_right_border_width: 4px;
$hexagon_top_bottom_border_width: 5px;
$details_link_border_width: 2px;
$logo_font_size: 22px;
$navigation_font_size: 14px;
$navigation_color: #72574b;
$slider_hexagon_bg_color: #ff8952;
$slide_bg_color: #fdf5ce;
$slide_title_font_size: 44px;
$slide_title_bold_font_size: 65px;
$slide_title_bold_sm_font_size: 48px;
$slide_title_biggest_font_size: 72px;
$slide_details_link_font_size: 14px;
$promo_left_bg_color: #d3bba3;
$promo_right_bg_color: #dae5e7;
$promo_hashtag_font_size: 24px;
$promo_title_font_size: 48px;
$promo_link_font_size: 14px;
$team_section_title_font_size: 22px;
$team_career_font_size: 14px;
$filter_button_border_width: 2px;
$filter_button_font_size: 12px;
$project_title_font_size: 30px;
$project_text_font_size: 14px;
$projects_more_button_font_size: 20px;
$services_section_bg_color: #f7dbb7;
$service_title_font_size: 30px;
$service_description_font_size: 14px;
$post_title_font_size: 22px;
$post_text_font_size: 16px;
$post_details_color: #a9a9a9;
$post_details_font_size: 12px;
$contacts_overlay_color: rgba(174, 131, 112, 0.82);
$contact_font_size: 14px;
$footer_font_size: 15px;
$social_hexagon_left_right_border_width: 3px;
$social_hexagon_top_bottom_border_width: 4px;